<ion-header [hidden]="true" [translucent]="true">    
  <ion-toolbar>    
    <ion-title>About Us</ion-title>    
  </ion-toolbar>    
</ion-header>    
    
<ion-content class="ion-no-padding" style="font-family: 'Poppins'">    
  <div class="mt-5 shadow-md">  
    <a href="/profile" class="flex items-center mb-5 pb-3">  
      <ion-icon name="arrow-back-outline" slot="start" class="pl-4 mr-2"></ion-icon>  
      <span class="text-sm font-semibold" style="font-size: 18px;">About Us</span>  
    </a>    
  </div>  
  <div class="mt-3">      
    <div class="profile-list" style="display: flex; flex-direction: column; align-items: center;">    
      <div class="profile-item" style="width: 100%; padding: 40px 20px; border-bottom: 1px solid #ccc; text-align: center;">    
        <img src="../../assets/illustration/ferdian.jpg" alt="Alex Steven" style="width: 200px; height: 200px; object-fit: cover; border-radius: 50%; margin: 20px auto;" class="mb-2">      
        <h3 class="font-semibold" style="padding: 10px 0; font-size: 24px;">Andhika Ferdiansyah</h3>      
        <p style="font-size: 20px;">2602206480 </p>      
      </div>      
    
      <div class="profile-item" style="width: 100%; padding: 40px 20px; border-bottom: 1px solid #ccc; text-align: center;">    
        <img src="../../assets/illustration/rafli.jpg" alt="Alex Steven" style="width: 200px; height: 200px; object-fit: cover; border-radius: 50%; margin: 20px auto;" class="mb-2">      
        <h3 class="font-semibold" style="padding: 10px 0; font-size: 24px;">Adrian Maulana Rafli</h3>      
        <p style="font-size: 20px;">2602181616 </p>      
      </div>      
    
      <div class="profile-item" style="width: 100%; padding: 40px 20px; border-bottom: 1px solid #ccc; text-align: center;">    
        <img src="../../assets/illustration/kevin.jpg" alt="Alex Steven" style="width: 200px; height: 200px; object-fit: cover; border-radius: 50%; margin: 20px auto;" class="mb-2">      
        <h3 class="font-semibold" style="padding: 10px 0; font-size: 24px;">Kevin Stenly Liustanto</h3>      
        <p style="font-size: 20px;">2602138340 </p>      
      </div>  
  
      <div class="profile-item" style="width: 100%; padding: 40px 20px; border-bottom: 1px solid #ccc; text-align: center;">    
        <img src="../../assets/illustration/asong.jpg" alt="Alex Steven" style="width: 200px; height: 200px; object-fit: cover; border-radius: 50%; margin: 20px auto;" class="mb-2">      
        <h3 class="font-semibold" style="padding: 10px 0; font-size: 24px;">Albert Sanjaya Ong</h3>      
        <p style="font-size: 20px;">2602109536 </p>      
      </div>    
    
      <div class="profile-item" style="width: 100%; padding: 40px 20px; text-align: center;">    
        <img src="../../assets/illustration/hafiz.jpg" alt="Anne Davis" style="width: 200px; height: 200px; object-fit: cover; border-radius: 50%; margin: 20px auto;" class="mb-2">      
        <h3 class="font-semibold" style="padding: 10px 0; font-size: 24px;">Muchamad Hafiz Trio Saputra</h3>      
        <p style="font-size: 20px;">2702422080 </p>      
      </div>      
        
    </div>    
  </div>      
</ion-content>    
