.produk-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.tab-active {
    --color: white;
    background-color: rgba(34,111,84,.6);
    border-radius: 4px;
}
.button-color {
    --background: #226F54;
}