<ion-header [hidden]="true" [translucent]="true">
  <ion-toolbar>
    <ion-title style="font-family: 'Poppins', sans-serif;">Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-no-padding" style="font-family: 'Poppins'">
  <div class="mt-5">
      <a class="flex items-center mb-5 shadow-md pb-4">
        <ion-icon name="arrow-back-outline" slot="start" class="pl-4 mr-2" (click)="goToHome()"></ion-icon>
        <span class="text-sm font-semibold" style="font-size: 18px;">List order</span>
      </a>
  </div>

  <div *ngIf="status else noData">
    <div *ngFor="let orderItem of order" class="product-item">
      <ion-card class="flex flex-col">
        <div class="flex gap-4">
          <img [src]="orderItem.costume_picture" class="p-2 produk-image" alt="Produk Image">
          <div class="flex flex-col gap-2 ">
            <div class="pt-2 ">
              <h2 class="font-bold">{{ orderItem.costume_name }}</h2>
              <p class="mt-1">Rp {{ orderItem.costume_price }}</p>
              <p>Size: {{ orderItem.costume_size }}</p>
              <p>Price: {{orderItem.total}}</p>
              <p>Status: {{orderItem.status_order}}</p>
            </div>
            <div class="action-buttons pb-2 pe-2 flex">
              <ion-button size="small" class="button-color" (click)="goToOrderDetail(orderItem.id,orderItem.status_order)">Detail Order</ion-button> 
            </div>
          </div>
        </div>
      </ion-card>
    </div>
  </div>

  <ng-template #noData>
    <p class="text-center">No order is available.</p>
  </ng-template>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="" (click)="goToHome()">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="" (click)="goToHome()">
          <ion-icon name="heart-outline"></ion-icon>
          <ion-label>Wishlist</ion-label>
        </ion-tab-button>
        
        <ion-tab-button tab="" (click)="goToEmoney()">
          <ion-icon name="add-circle-outline"></ion-icon>
          <ion-label>Top Up</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="" class="tab-active">
          <ion-icon name="receipt-outline"></ion-icon>
          <ion-label>Order</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="" (click)="goToLoginOrProfile()">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>