<ion-header [hidden]="true" [translucent]="true">
  <ion-toolbar>
    <ion-title style="font-family: 'Poppins', sans-serif;">Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-no-padding" style="font-family: 'Poppins'">
  <div class="mt-5">
      <a class="flex items-center mb-5 shadow-md pb-4">
        <ion-icon name="arrow-back-outline" slot="start" class="pl-4 mr-2" (click)="goToHome()"></ion-icon>
        <span class="text-sm font-semibold" style="font-size: 18px;">List order</span>
      </a>
  </div>

  <div *ngIf="status else noData">
    <div *ngFor="let orderItem of order" class="mb-4"> <!-- Add margin-bottom -->
      <div class="flex flex-col w-full">
        <div class="flex gap-x-4 shadow-xl p-4 rounded-lg bg-white"> <!-- Add padding, rounded corners, and background -->
          <img [src]="orderItem.costume_picture" class="p-2 w-1/4 h-1/4" alt="Produk Image">
          <div class="flex flex-col gap-2 w-full">
            <div class="flex w-full">
              <div class="pt-2 w-full flex flex-row justify-between">
                <div>
                  <h2 class="font-bold">{{ orderItem.costume_name }}</h2>
                  <p>Rp {{ orderItem.costume_price }}</p>
                  <p class="w-1/2 mt-3">Size: {{ orderItem.costume_size }}</p>
                </div>
                <div class="flex flex-col items-end gap-y-9">
                  <h1 *ngIf="orderItem.status_order != 'Cancelled';" class="text-[#226F54] font-semibold text-[14px]">{{orderItem.status_order}}</h1>
                  <h1 *ngIf="orderItem.status_order == 'Cancelled';" class="text-red-700 font-semibold text-[14px]">{{orderItem.status_order}}</h1>
                  <button (click)="goToOrderDetail(orderItem.id, orderItem.status_order)" class="text-[#226F54] px-4 py-1 rounded-lg outline outline-1 outline-[#226F54] font-semibold">
                    Detail
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noData>
    <p class="text-center">No order is available.</p>
  </ng-template>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="" (click)="goToHome()">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="" (click)="goToHome()">
          <ion-icon name="heart-outline"></ion-icon>
          <ion-label>Wishlist</ion-label>
        </ion-tab-button>
        
        <ion-tab-button tab="" (click)="goToEmoney()">
          <ion-icon name="add-circle-outline"></ion-icon>
          <ion-label>Top Up</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="" class="tab-active">
          <ion-icon name="receipt-outline"></ion-icon>
          <ion-label>Order</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="" (click)="goToLoginOrProfile()">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>