<ion-header [hidden]="true" [translucent]="true">
  <ion-toolbar>
    <ion-title style="font-family: 'Poppins', sans-serif;">See Comment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="border-b-2 border-black mb-1 mt-5">
    <a href="/home" class="flex items-center mb-5">
      <ion-icon name="arrow-back-outline" slot="start" class="pl-4 mr-2"></ion-icon>
      <span class="text-sm font-semibold" style="font-size: 18px; font-family: 'Poppins', sans-serif;">Comment</span>
    </a>
  </div> 

  <div class="px-4">
    <div *ngFor="let review of review" style="margin-bottom: 10px;">
      <!-- New div for the border with full width -->
      <div style="border-bottom: 5px solid rgb(172, 169, 169); padding: 10px; margin-left: -16px; margin-right: -16px; width: calc(100% + 32px);">
        <div class="flex items-center" style="margin-left: 10px;"> <!-- Adjusted margin-left -->
          <img
            *ngIf="review.profile_picture"
            [src]="review.profile_picture"
            alt="User Avatar"
            class="w-8 h-8 rounded-full mr-2"
          />
          <img
            *ngIf="!review.profile_picture"
            src="../../assets/illustration/defaultprofile.jpg"
            alt="User Avatar"
            class="w-8 h-8 rounded-full mr-2"
          />
          <div class="ml-2">
            <span class="font-bold" style="font-family: 'Poppins', sans-serif;">{{ review.name }}</span>
            <div class="text-gray-500" style="font-family: 'Poppins', sans-serif;" class="flex">
              <span style="font-size: 11px;" class="flex mt-[0.8px] text-gray-600">{{ review.created_at }}</span>
            </div>
          </div>
        </div>
        <p class="mt-2 comment-text" style="font-family: 'Poppins', sans-serif; font-size: 12px; margin-left: 10px;"> <!-- Adjusted margin-left -->
          {{ review.description }}
        </p>
        <div  style="margin-top: 10px; display: flex; gap: 2px; margin-left: 10px;"> 
          <div style="flex: 0 0 auto;">
            <img [src]="review.review_picture" alt="Comment Image" style="width: 70px; height: 70px; border-radius: 5px;" />
          </div>
        </div>

        <div class="ml-2 my-3 stars-review flex align-center justify-end flex-row-reverse gap-1 ">
          <ion-icon [class.rated]="review.rating >= 5" class="w-5 h-5" name="star"></ion-icon>
          <ion-icon [class.rated]="review.rating >= 4" class="w-5 h-5" name="star"></ion-icon>
          <ion-icon [class.rated]="review.rating >= 3" class="w-5 h-5" name="star"></ion-icon>
          <ion-icon [class.rated]="review.rating >= 2" class="w-5 h-5" name="star"></ion-icon>
          <ion-icon [class.rated]="review.rating >= 1" class="w-5 h-5" name="star"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</ion-content>
