<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header> -->

  <div class="p-2">
    <div class="flex items-center justify-between gap-6 mb-4">
      <h1 class="font-extrabold text-xl" (click)="goToTokoHome()">CosplayRent</h1>
      <ion-button size="small" (click)="goToTambahProduk()" class="font-sm button-color flex" >
        <h1>Tambah</h1>
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </div>
  </div>

  <ion-searchbar placeholder="Cari produk"></ion-searchbar>
  <div *ngIf="costume?.data">
    <div *ngFor="let costume of costume" class="product-item">
      <ion-card class="flex flex-col">
        <div class="flex gap-4">
          <img [src]="costume.costume_picture" class="p-2 produk-image" alt="Produk Image">
          <div class="flex flex-col gap-2">
            <div class="produk-info pt-2">
              <h2 class="font-bold" *ngIf="costume?.data">{{ costume.name }}</h2>
              <p>Rp {{ costume.price }}</p>
              <p>Size: {{ costume.ukuran }}</p>
            </div>
            <div class="action-buttons pb-2 pe-2 flex justify-end">
              <ion-button size="small" class="button-color" (click)="editProduct(costume.id)">Edit</ion-button> 
              <ion-button size="small" color="danger" (click)="deleteProduct(costume.id)">Hapus</ion-button>
            </div>
          </div>
        </div>
      </ion-card>
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" (click)="goToTokoHome()">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="produk">
          <ion-icon name="albums-outline"></ion-icon>
          <ion-label>Produk</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="chat">
          <ion-icon name="chatbubbles-outline"></ion-icon>
          <ion-label>Chat</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="pesanan">
          <ion-icon name="clipboard-outline"></ion-icon>
          <ion-label>Pesanan</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="keluar">
          <ion-icon name="exit-outline"></ion-icon>
          <ion-label>Kembali</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
