.product-item {
    margin-bottom: 16px;
}
.produk-image {
    width: 120px;
    height: 120px;
}
.button-color {
    --background: #226F54;
}
.tab-active {
    --color: white;
    background-color: rgba(34,111,84,.6);
    border-radius: 4px;
}