<ion-header [hidden]="true" [translucent]="true">
  <ion-toolbar>
    <ion-title>profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-no-padding" style="font-family: 'Poppins'">
  <div class="mt-5 border-b-2 border-black">
    <a href="/home" class="flex items-center mb-5">
      <ion-icon name="arrow-back-outline" slot="start" class="pl-4 mr-2"></ion-icon>
      <span class="text-sm font-semibold" style="font-size: 18px;">Ubah Profilemu disini!</span>
    </a>  
  </div>

  <div class="flex items-center mt-4">
    <img
      *ngIf="data.profile_picture"
      [src]="data.profile_picture"
      alt="User Avatar"
      class="rounded-full h-16 w-16 mr-4 ml-4"
    />
    <img
      *ngIf="!data.profile_picture"
      src="../../assets/illustration/defaultprofile.jpg"
      alt="User Avatar"
      class="rounded-full h-16 w-16 mr-4 ml-4"
    />
    <!-- <img src="path/to/profile/image.jpg" alt="Profile Picture" class="rounded-full h-16 w-16 mr-4 ml-4">  -->
    <div class="flex-grow"> 
      <div class="font-bold text-lg">{{data.name}}
        <a href="/profile-change">
         <ion-icon name="create-outline" class="ml-4"></ion-icon>
        </a>
      </div>
      <div class="text-sm text-gray-500">{{data.id}}</div>
    </div>
  </div>


  <ion-list lines="none" class="mt-5 flex flex-col gap-y-3">
    <ion-item href="/alamat">
      <ion-icon name="location-outline" slot="start"></ion-icon>
      <ion-label>
        <h3 class="font-bold">Pengaturan Alamat</h3>
        <p class="text-sm text-gray-500">Atur Alamat pengiriman Cosplay</p>
      </ion-label>
    </ion-item>

    <ion-item href="/keamanan">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-label>
        <h3 class="font-bold">Keamanan Akun</h3>
        <p class="text-sm text-gray-500">Kata Sandi, PIN & verifikasi data diri</p>
      </ion-label>
    </ion-item>

    <ion-item (click)="goToVerification()">
      <ion-icon name="shield-checkmark-outline" slot="start"></ion-icon>
      <ion-label>
        <h3 class="font-bold">Verifikasi Identitas</h3>
        <p class="text-sm text-gray-500">Verifikasi diri anda dengan KTP</p>
      </ion-label>
    </ion-item>

    <ion-item href="/pembayaran">
      <ion-icon name="wallet-outline" slot="start"></ion-icon>
      <ion-label>
        <h3 class="font-bold">Pengaturan Pembayaran</h3>
        <p class="text-sm text-gray-500">Atur wallet siapa sebagai metode pembayaran</p>
      </ion-label>
    </ion-item>

    <ion-item href="/hapus-akun">
      <ion-icon name="trash-outline" slot="start"></ion-icon>
      <ion-label>
        <h3 class="font-bold">Hapus Akun</h3>
      </ion-label>
    </ion-item>

    <ion-item (click)="removeToken()">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      <ion-label>
        <h3 class="font-bold">Keluar Akun</h3>
      </ion-label>
    </ion-item>

    <ion-item (click)="goToTokoProduk()">
      <ion-icon name="storefront-outline" slot="start" ></ion-icon>
      <ion-label>
        <h3 class="font-bold">Pindah ke Toko</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>


