<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title style="font-family: 'Poppins', sans-serif;">Review</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true" class="" style="font-family: 'Poppins'">
  <header class="flex shadow-md mt-5 px-4">
    <a (click)="goToProfile()" class="flex items-center mb-5">
      <ion-icon name="arrow-back-outline" slot="start" class="mr-2"></ion-icon> 
    </a>
    <span class="text-sm font-bold" style="font-size: 18px;">Review Produk</span>
  </header>

  <ion-segment color="success" [(ngModel)]="selectTabs">
    <ion-segment-button value="menunggu" class="py-2">
      <ion-label class="text-sm">Menunggu Diulas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="riwayat" class="py-2">
      <ion-label>Riwayat</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectTabs == 'menunggu'">
   <div *ngIf="statusAllNonReviewed else noData">
    <div *ngFor="let costume of reviews" class="reviews mt-5 px-4">
      <div class="shadow-md" style="border: 1px solid #ccc; border-radius: 5px; padding: 16px; margin-bottom: 16px;">
        <div class="flex gap-3 items-center w-full">
          <img [src]="costume.costume_picture" class="product-img rounded-sm" alt="product-image">
          <div class="flex flex-col w-full">
            <h3 class="font-bold">{{costume.costume_name}}</h3>
            <p class="text-gray-600 text-sm">{{costume.order_date}}</p>
            <div class="flex justify-between w-full mt-2">
              <div>
                <p class="font-light text-sm">Size: {{costume.costume_size}}</p>
                <p class="font-light text-sm">Price: Rp{{costume.costume_price}}</p>
              </div>
              <button (click)="goToReview(costume.order_id,costume.costume_id)" class="w-16 py-2 font-bold text-green-600 bg-white border-2 border-solid border-green-500 rounded-lg" style="margin-right: 8px;">
                Nilai
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>

   <ng-template #noData>
    <p class="text-center mt-4">No review is available.</p>
  </ng-template>
  </div>

  <div *ngIf="selectTabs == 'riwayat'">
    <div *ngFor="let reviewed of reviewedOrder" class="review mt-5 px-4">
      <div class="shadow-md" style="border: 1px solid #ccc; border-radius: 5px; padding: 16px; margin-bottom: 16px;">
        <div class="flex flex-col gap-2">
          <div class="flex gap-3 items-center w-100">
            <img [src]="reviewed.costume_picture" class="product-img rounded-sm" alt="product-image">
            <div class="flex flex-col">
              <h3 class="font-bold">{{reviewed.costume_name}}</h3>
              <p class="font-light">{{reviewed.review_date}}</p>
            </div>
          </div>
          <div class="stars-review flex justify-end flex-row-reverse gap-1 me-2">
            <ion-icon name="star"></ion-icon>
            <h1>{{reviewed.review_rating}}</h1>
          </div>
          <p class="font-light line-clamp-2">{{reviewed.review_description}}</p>
          <div class="flex justify-between items-center">
            <span></span> <!-- Placeholder untuk menjaga tombol di kanan -->
            <button (click)="goToDetail(reviewed.order_id,reviewed.costume_id)" class="w-16 py-2 font-bold text-green-600 bg-white border-2 border-solid border-green-500 rounded-lg">
              Detail
            </button>
          </div>
        </div>
      </div>    
    </div>
    
  </div>
</ion-content>
