<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title style="font-family: 'Poppins', sans-serif;">Review</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true" class="" style="font-family: 'Poppins'">
  <header class="flex shadow-md mt-5 px-4">
    <a (click)="goToProfile()" class="flex items-center mb-5">
      <ion-icon name="arrow-back-outline" slot="start" class="mr-2"></ion-icon> 
    </a>
    <span class="text-sm font-bold" style="font-size: 18px;">Review Produk</span>
  </header>

  <ion-segment color="success" [(ngModel)]="selectTabs">
    <ion-segment-button value="menunggu">
      <ion-label class="text-sm">Belum Direview</ion-label>
    </ion-segment-button>
    <ion-segment-button value="riwayat">
      <ion-label>Riwayat</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectTabs == 'menunggu'">
    <div class="reviews mt-5 px-4">
      <div class="order-card shadow-md" style="border: 1px solid #ccc; border-radius: 5px; padding: 16px; margin-bottom: 16px;">
        <p class="font-light text-sm mb-2">Nama toko</p>
        <div style="display: flex; align-items: center;">
          <img src="../../assets/product/kostum-1.png" alt="" style="max-width: 50px; height: auto; border-radius: 5px;" class="me-2" />
          <div>
            <h3 class="font-bold text-balance">Kostum Naruto</h3>
            <p class="font-light text-sm">26 Desember 2024</p>
          </div>
        </div>
        <div style="border-bottom: 1px solid #ccc; margin: 8px 0;"></div>


  
        <div style="margin-top: 16px; display: flex; justify-content: flex-end;">
          <ng-container>
            <button class="w-16 py-2 font-bold text-green-600 bg-white border-2 border-solid border-green-500 rounded-lg" style="margin-right: 8px;">
              Nilai
            </button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="selectTabs == 'riwayat'">
    <div class="reviews mt-5 px-4">
      <div class="order-card shadow-md" style="border: 1px solid #ccc; border-radius: 5px; padding: 16px; margin-bottom: 16px;">
        <div class="flex flex-col gap-2">
          <h3 class="font-bold">Kostum Naruto</h3>
          <div class="flex items-center">
            <div class="stars-review flex justify-end flex-row-reverse gap-1 me-2">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </div>
            <p> - 26 Desember 2024</p>
          </div>
          <p class="font-light">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate, autem sequi molestiae repudiandae veritatis inventore ab aliquid rem nulla beatae dolorem mollitia eos velit ullam eaque! Dicta et aperiam aut.</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
