button ion-icon {
    font-size: 26px;
}
ion-searchbar {
  height: 10px;
}
.product-name {
  font-size: 12px;
}
.product-price {
  font-size: 14px;
}
.product-day, .product-rate, .shop-name, .shop-city {
  font-size: 10px;
}