<ion-header [translucent]="true">
  <ion-toolbar>
    <a class="mx-4 flex items-center gap-2">
      <ion-icon name="arrow-back-outline" slot="start" (click)="goToEMoney()"></ion-icon>
      <span class="text-sm font-semibold" style="font-size: 18px;">Top Up Pembayaran</span>
    </a>  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-no-padding" style="font-family: 'Poppins'">
  <div class="background-layer"></div>
  <div class="h-5/6 content">
    <div class="h-full mx-4 flex justify-center items-center flex-col">
      <form class="w-full flex flex-col gap-4">
        <div class="mb-4">
          <label class="block mb-2 text-md font-medium text-gray-900 dark:text-white">Top Up Amount</label>
          <input type="number" [(ngModel)]="data.Emoney_amount" id="topupamount" name="topupamount"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="min. 10000" required /> <!--[(ngModel)]="data.Emoney_amount"-->
        </div>
        <button class="w-full h-12 py-2 font-bold text-white rounded paid" style="font-size: 20px;" (click)="goToPayment()" [disabled]="isSubmitting" [ngClass]="{'disabled-button': isSubmitting}">Bayar</button>
      </form>
    </div>
  </div>
</ion-content>
