<ion-header [hidden]="true" [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="flex flex-col items-center justify-center">
    <div class="w-full max-w-sm px-4 pt-10 bg-white">
      <a href="/home">
        <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
      </a>

      <!-- Image or Illustration -->
      <img src="../../assets/illustration/register.png" alt="Login Illustration" class="w-full h-auto mb-6">

      <!-- Login Form -->
      <h2 class="mb-4 text-2xl font-bold">Register</h2>
      <form (ngSubmit)="doRegister()">
        <div class="mb-4">
          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
        <input type="text" [(ngModel)]="data.name" id="name" name="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="your name" required />
        </div>

        <div class="mb-4">
          <label for="dataEmail" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
        <input type="email" [(ngModel)]="data.email" id="email" name="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@flowbite.com" required />
        </div>

        <div class="mb-4">
          <label for="dataPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
        <input type="password" [(ngModel)]="data.password" id="password" name="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
        </div>

        <button type="submit" [disabled]="isSubmitting" [ngClass]="{'disabled-button': isSubmitting}" class="w-full py-2 font-bold text-white bg-green-600 rounded-lg">Register</button>
      </form>

      <div class="mt-4 text-center">
        <span class="text-sm">Already have an account? <a href="/login" class="text-blue-500">Login</a></span>
      </div>
    </div>
  </div>
</ion-content>
